

*{
  margin: 0;padding: 0;
}
#head{
  margin: auto;
  width: 45%;
  border: 1px solid black;
  padding: 10px 5px;
}


body {
  background-image: url(./assets/bgg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  }
  form input, form select, form input[type="checkbox"] {
    background: transparent !important;
    padding: 5px !important;
    border: 1px solid black !important;
  }
  h1{
    margin: auto;
    width: 26%;
    font-size: 100px;
    margin-top: 250px;
    color: rgb(4, 144, 144);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  #head button {
    padding: 4px;
    background: transparent;
  
  }
form{
  display: flex;
  justify-content: space-around;
  width: 100%;
}
#main{
  border: 1px solid Black;
  width: 45%;
  display: flex;
  justify-content: space-around;
  margin: 10px auto;
  padding: 5px;
}
#main button {
  font-size: 1em;
  font-weight: 500;
  cursor: pointer;
  width: 4em;
  background: transparent;
  margin: auto;
}
